/* body{
  background-color: #FFF0BE;
} */

.header{
  background-color: #FF9A86;
  padding: 15px 20px 0px 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #FFF0BE;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  font-size: large;
}

.menu a {
  color: #FFF0BE;
  text-decoration: none;
}

.menu a:hover {
  color: #FFB399;
}

.kolom{
    background: #FFF0BE;
    padding-top: 20px;
}

.kolom:hover{
    background:#FFD6A6;
}

.footer{
  text-align: center;
    background-color: #FFB399;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 70px;
}

.footer a{
  color: #FFF0BE;
  text-decoration: none;
}
